<div class="container p-9 d-flex align-items-center">
  <div class="row " style="display: flex; width: 100%; height: 100%; justify-content: center;">

    <div style="width: 30%;">
      {{> infos/infoForm }}
    </div>

    <div style="width: 70%;">
      {{> infos/infoTable }}
    </div>
  </div>
</div>
<footer style="color: aliceblue; opacity: .5; " >
  <h2>Desarrollado por Andrés Florez</h2>
</footer>